# Database
DATABASE_NAME=norish
DATABASE_USER=norish
DATABASE_PASSWORD=

# Application
AUTH_URL=https://norish.zech.co
MASTER_KEY=
UPLOADS_DIR=/app/uploads
DEFAULT_LOCALE=de-informal
ENABLED_LOCALES=en,de-informal,de-formal

PASSWORD_AUTH_ENABLED=false
OIDC_NAME=Authentik
OIDC_ISSUER=https://sso.zech.co
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_WELLKNOWN=https://sso.zech.co/application/o/norish/.well-known/openid-configuration
