# Database
DATABASE_NAME=teslamate
DATABASE_USER=teslamate
DATABASE_PASSWORD=

# Application
ENCRYPTION_KEY=

# Grafana
GF_SERVER_ROOT_URL=https://teslamate-grafana.zech.co
GF_AUTH_BASIC_ENABLED=false
GF_AUTH_DISABLE_LOGIN_FORM=true
GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME=Authentik
GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=true
GF_AUTH_GENERIC_OAUTH_AUTO_LOGIN=true
GF_AUTH_GENERIC_OAUTH_CLIENT_ID=
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=
GF_AUTH_GENERIC_OAUTH_SCOPES="openid profile email"
GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://sso.zech.co/application/o/authorize/
GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://sso.zech.co/application/o/token/
GF_AUTH_GENERIC_OAUTH_API_URL=https://sso.zech.co/application/o/userinfo/
GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH=preferred_username
GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH=name
GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH=email
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH="contains(groups[*], 'Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'"
