.DS_Store
._.DS_Store
.env
.*.env
.idea
settings.json

appdata/*
!appdata/traefik/
!appdata/homepage/

appdata/traefik/*
!appdata/traefik/dynamic/
!appdata/traefik/dynamic/**
!appdata/traefik/traefik.yml
