services:
  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr:2.3.0
    restart: unless-stopped
    ports:
      - "9696:9696"
    environment:
      TZ: Europe/Vienna
      PGID: 1000
      PUID: 1000
    volumes:
      - /opt/docker/appdata/prowlarr/config:/config
    networks:
      - proxy

networks:
  proxy:
    external: true
