# Database
DATABASE_NAME=sparkyfitness
DATABASE_USER=sparkyfitness
DATABASE_PASSWORD=
SPARKY_FITNESS_APP_DB_USER=sparkyfitness_app
SPARKY_FITNESS_APP_DB_PASSWORD=

# Application
TZ=Europe/Vienna
NODE_ENV=production
SPARKY_FITNESS_FRONTEND_URL=https://health.zech.co
SPARKY_FITNESS_LOG_LEVEL=ERROR
SPARKY_FITNESS_PUBLIC_API_DOCS=false
SPARKY_FITNESS_DISABLE_SIGNUP=true
SPARKY_FITNESS_FORCE_EMAIL_LOGIN=false
SPARKY_FITNESS_API_ENCRYPTION_KEY=
BETTER_AUTH_SECRET=

# OIDC
SPARKY_FITNESS_DISABLE_EMAIL_LOGIN=true
SPARKY_FITNESS_OIDC_AUTH_ENABLED=true
SPARKY_FITNESS_OIDC_PROVIDER_SLUG=authentik
SPARKY_FITNESS_OIDC_PROVIDER_NAME=Authentik
SPARKY_FITNESS_OIDC_AUTO_REGISTER=true
SPARKY_FITNESS_OIDC_LOGO_URL=https://sso.zech.co/static/dist/assets/icons/icon.png
SPARKY_FITNESS_OIDC_ISSUER_URL=https://sso.zech.co/application/o/sparky-fitness/
SPARKY_FITNESS_OIDC_DOMAIN=zech.co
SPARKY_FITNESS_OIDC_CLIENT_ID=
SPARKY_FITNESS_OIDC_CLIENT_SECRET=
SPARKY_FITNESS_OIDC_SCOPE=openid email profile
SPARKY_FITNESS_OIDC_AUTO_REDIRECT=false
SPARKY_FITNESS_OIDC_ADMIN_GROUP=Admins

# Email
SPARKY_FITNESS_EMAIL_HOST=
SPARKY_FITNESS_EMAIL_PORT=587
SPARKY_FITNESS_EMAIL_SECURE=true
SPARKY_FITNESS_EMAIL_USER=
SPARKY_FITNESS_EMAIL_PASS=
SPARKY_FITNESS_EMAIL_FROM=health@zech.co
