services:
  grafana:
    container_name: grafana
    image: grafana/grafana-oss:12.3.2
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - /opt/docker/appdata/grafana:/var/lib/grafana
    networks:
      - proxy
      - monitoring
      - teslamate

networks:
  proxy:
    external: true
  monitoring:
    external: true
  teslamate:
    external: true
