services:
  karakeep:
    container_name: karakeep
    image:  ghcr.io/karakeep-app/karakeep:0.31.0
    restart: unless-stopped
    ports:
      - "3002:3000"
    env_file:
      - .env
    volumes:
      - /opt/docker/appdata/karakeep/data:/data
    networks:
      - karakeep
    depends_on:
      - chrome
      - meilisearch

  chrome:
    container_name: karakeep-chrome
    image: gcr.io/zenika-hub/alpine-chrome:124
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
    networks:
      - karakeep

  meilisearch:
    container_name: karakeep-meilisearch
    image: getmeili/meilisearch:v1.11.1
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - /opt/docker/appdata/karakeep/meilisearch:/meili_data
    networks:
      - karakeep

networks:
  proxy:
    external: true
  karakeep:
    external: true
