services:
  stirling-pdf:
    container_name: stirling-pdf
    image: stirlingtools/stirling-pdf:2.0.0
    restart: unless-stopped
    ports:
      - "8091:8080"
    environment:
      TZ: Europe/Vienna
      PGID: 1000
      PUID: 1000
      DISABLE_PIXEL: true
    volumes:
      - /opt/docker/appdata/stirling-pdf/tessdata:/usr/share/tesseract-ocr/4.00/tessdata
      - /opt/docker/appdata/stirling-pdf/configs:/configs
    networks:
      - proxy

networks:
  proxy:
    external: true
