# Database
DATABASE_NAME=speedtest_tracker
DATABASE_USER=speedtest_tracker
DATABASE_PASSWORD=

# Application
PUID=1000
PGID=1000
APP_TIMEZONE=Europe/vienna
APP_KEY="base64:..."
APP_URL=https://speedtest.zech.co
ASSET_URL=https://speedtest.zech.co
SPEEDTEST_SCHEDULE="0 */6 * * *"

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=speedtest@zech.co
MAIL_FROM_NAME="Speedtest Tracker"