services:
  swiparr:
    container_name: swiparr
    image: ghcr.io/m3sserstudi0s/swiparr:1.0.34
    restart: unless-stopped
    ports:
    - "4321:4321"
    env_file:
      - .env
    volumes:
      - /opt/docker/appdata/swiparr/data:/app/data
    networks:
      - proxy

networks:
  proxy:
    external: true
