services:
  it-tools:
    container_name: it-tools
    image: sharevb/it-tools:2026.1.4
    restart: unless-stopped
    ports:
      - "8084:8080"
    networks:
      - proxy

networks:
  proxy:
    external: true
