# Application
HOMEPAGE_ALLOWED_HOSTS=dashboard.zech.co
HOMEPAGE_AUTH_ENABLED=true
HOMEPAGE_AUTH_SECRET=
HOMEPAGE_EXTERNAL_URL=https://dashboard.zech.co
HOMEPAGE_OIDC_ISSUER=https://sso.zech.co/application/o/homepage/
HOMEPAGE_OIDC_CLIENT_ID=
HOMEPAGE_OIDC_CLIENT_SECRET=
HOMEPAGE_OIDC_NAME=Authentik
HOMEPAGE_OIDC_SCOPE=openid email profile

# Widgets
HOMEPAGE_VAR_AUTHENTIK_TOKEN=
HOMEPAGE_VAR_HEALTHCHECKS_KEY=
HOMEPAGE_VAR_SEERR_KEY=
HOMEPAGE_VAR_SONARR_KEY=
HOMEPAGE_VAR_RADARR_KEY=
HOMEPAGE_VAR_PROWLARR_KEY=
HOMEPAGE_VAR_BAZARR_KEY=
HOMEPAGE_VAR_SABNZBD_KEY=
HOMEPAGE_VAR_TRACEARR_KEY=
HOMEPAGE_VAR_NEXTCLOUD_TOKEN=
HOMEPAGE_VAR_PAPERLESS_TOKEN=
HOMEPAGE_VAR_FRESHRSS_USERNAME=
HOMEPAGE_VAR_FRESHRSS_PASSWORD=
HOMEPAGE_VAR_KARAKEEP_KEY=
HOMEPAGE_VAR_IMMICH_KEY=
HOMEPAGE_VAR_SPARKYFITNESS_KEY=
HOMEPAGE_VAR_UNIFI_USERNAME=
HOMEPAGE_VAR_UNIFI_PASSWORD=
HOMEPAGE_VAR_CHANGEDETECTION_KEY=
HOMEPAGE_VAR_SPEEDTEST_KEY=
