# Database
DATABASE_NAME=dawarich
DATABASE_USER=dawarich
DATABASE_PASSWORD=

# Application
RAILS_ENV=production
SECRET_KEY_BASE=
APPLICATION_HOSTS=dawarich.zech.co
APPLICATION_PROTOCOL=https
TIME_ZONE=Europe/Vienna
SELF_HOSTED=true
STORE_GEODATA=true
BACKGROUND_PROCESSING_CONCURRENCY=3
WEB_CONCURRENCY=1

# Email
DOMAIN=dawarich.zech.co
SMTP_SERVER=
SMTP_PORT=587
SMTP_DOMAIN=zech.co
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=dawarich@zech.co
SMTP_AUTHENTICATION=plain
SMTP_STARTTLS=true
SMTP_OPEN_TIMEOUT=5
SMTP_READ_TIMEOUT=5

# OIDC
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ISSUER=https://sso.zech.co/application/o/dawarich/
OIDC_REDIRECT_URI=https://dawarich.zech.co/users/auth/openid_connect/callback
OIDC_PROVIDER_NAME=Authentik
OIDC_AUTO_REGISTER=true
ALLOW_EMAIL_PASSWORD_REGISTRATION=false
ALLOW_EMAIL_PASSWORD_LOGIN=false
