# Database
DATABASE_NAME=forgejo
DATABASE_USER=forgejo
DATABASE_PASSWORD=

# Application
TZ=Europe/Vienna
FORGEJO__server__SSH_PORT=2222
FORGEJO__server__SSH_LISTEN_PORT=22
FORGEJO__webhook__ALLOWED_HOST_LIST=*.zech.co
