services:
  changedetection:
    container_name: changedetection
    image: linuxserver/changedetection.io:0.51.1
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - /opt/docker/appdata/changedetection/config:/config
    networks:
      - proxy

networks:
  proxy:
    external: true
