# Application
VNC_URL=https://fcg.zech.co
SCHEDULER_HOURS=12
SCHEDULER_TIMEZONE=Europe/Vienna
RUN_ON_STARTUP=true
DEBUG=false

# Epic Games and Fab
EG_EMAIL=
EG_PASSWORD=
EG_OTPKEY=
FAB_ACCEPT_EULA=true

# Ubisoft
UBI_EMAIL=
UBI_PASSWORD=
UBI_OTPKEY=

# Steam
STEAM_USERNAME=
STEAM_PASSWORD=

# GOG
GOG_EMAIL=
GOG_PASSWORD=
GOG_OTP_ENABLE=false
GOG_OTP_CODES=

# Amazon Prime Gaming
PG_EMAIL=
PG_PASSWORD=
PG_OTPKEY=

# Notifications
NOTIFY=
