ROOT_ACCESS_KEY=
ROOT_SECRET_KEY=

VGW_WEBUI_GATEWAYS=https://api.s3.zech.co
VGW_WEBUI_ADMIN_GATEWAYS=https://api.s3.zech.co
VGW_CORS_ALLOW_ORIGIN=https://web.s3.zech.co

VGW_REGION=eu-central-1
VGW_BACKEND=posix
VGW_BACKEND_ARGS=/data/s3
VGW_PORT=:7070
VGW_ADMIN_PORT=:7071
VGW_WEBUI_PORT=:8080
VGW_HEALTH=/health
VGW_IAM_DIR=/data/iam
VGW_VERSIONING_DIR=/data/versioning
VGW_META_SIDECAR=/data/metadata
