services:
  bentopdf:
    container_name: bentopdf
    image: bentopdf/bentopdf-simple:v1.15.4
    restart: unless-stopped
    ports:
      - "8091:8080"
    networks:
      - proxy

networks:
  proxy:
    external: true
