services:
  database:
    container_name: ghost-database
    image: mysql:8.0
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u $${DATABASE_USER} -p$${DATABASE_PASSWORD}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    volumes:
      - /opt/docker/appdata/ghost/database:/var/lib/mysql
    networks:
      - ghost

  ghost:
    container_name: ghost
    image: ghost:6.8.0-alpine
    restart: unless-stopped
    ports:
      - "2368:2368"
    env_file:
      - .env
    environment:
      database__client: mysql
      database__connection__host: database
      database__connection__user: ${DATABASE_USER}
      database__connection__password: ${DATABASE_PASSWORD}
      database__connection__database: ${DATABASE_NAME}
    volumes:
      - /opt/docker/appdata/ghost/content:/var/lib/ghost/content
    networks:
      - proxy
      - ghost
    depends_on:
      - database

networks:
  proxy:
    external: true
  ghost:
    external: true
