services:
  healthchecks:
    container_name: healthchecks
    image: linuxserver/healthchecks:4.0.20260216
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - /opt/docker/appdata/healthchecks/config:/config
    networks:
      - proxy

networks:
  proxy:
    external: true
