services:
  bazarr:
    container_name: bazarr
    image: linuxserver/bazarr:1.5.5
    restart: unless-stopped
    ports:
      - "6767:6767"
    environment:
      TZ: Europe/Vienna
      PGID: 1000
      PUID: 1000
    volumes:
      - /opt/docker/appdata/bazarr/config:/config
      - /mnt/movies:/movies
      - /mnt/tv:/tv
    networks:
      - proxy

networks:
  proxy:
    external: true
