# Application
DATA_DIR=/data
NEXTAUTH_URL=https://karakeep.zech.co
NEXTAUTH_SECRET=
MEILI_MASTER_KEY=
MEILI_NO_ANALYTICS=true
OPENAI_API_KEY=

DISABLE_SIGNUPS=true
DISABLE_PASSWORD_AUTH=true
OAUTH_AUTO_REDIRECT=true
OAUTH_WELLKNOWN_URL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_SCOPE="openid email profile"
OAUTH_PROVIDER_NAME=Authentik
OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING=true

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=karakeep@zech.co