# Application
TZ=Europe/Vienna

# Authentication
DYNACAT_AUTH_SECRET=
DYNACAT_OIDC_ISSUER_URL=https://sso.zech.co/application/o/dynacat/
DYNACAT_OIDC_CLIENT_ID=
DYNACAT_OIDC_CLIENT_SECRET=
DYNACAT_OIDC_REDIRECT_URL=https://dashboard.zech.co/api/oidc/callback

# Calendar
FASTMAIL_CALDAV_URL=
FASTMAIL_USERNAME=
FASTMAIL_APP_PASSWORD=

# Widgets
SONARR_API_KEY=
RADARR_API_KEY=
FRESHRSS_UNREAD_FEED_URL=
FORGEJO_TOKEN=
GRIDTIME_API_KEY=
PAPERLESS_API_TOKEN=
KARAKEEP_API_KEY=
